.part-panel {
	margin: 0.5em;
	padding-bottom: 0.5em;
	background-color: darkgrey;
	min-width: fit-content;

	h2 {
		margin: 0;
		margin-bottom: 0.3em;
		padding: 0.5em;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		
		gap: 0.5em;
	}
}